name: Jest

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop, feature/* ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
        - uses: actions/checkout@v2
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v2
          with:
            node-version: ${{ matrix.node-version }}
            cache: 'npm'
        - run: npm i -g yarn
        - run: yarn
        - run: npx lerna run build --concurrency 1
        - run: yarn test

